Emulador/src/res/schemas/cancelamento_0006.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CFeCanc">
		<xs:complexType>
			<xs:sequence>
				<!--Grupo A-->
				<xs:element name="infCFe" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<!--Grupo B-->
							<xs:element name="ide" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="^\d{14}$"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="signAC" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="344"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="numeroCaixa" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="^\d{3}$"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!--Grupo C-->
							<xs:element name="emit" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!--Grupo E-->
							<xs:element name="dest" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="CNPJ" minOccurs="0" maxOccurs="1">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="^\d{14}$"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="CPF" minOccurs="0" maxOccurs="1">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="^\d{0}$|^\d{11}$"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!--Grupo W-->
							<xs:element name="total" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!--Grupo Z-->
							<xs:element name="infAdic" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="chCanc" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="47"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>